{% load static core_helper thumbnail i18n %}
<header class="visible-lg visible-md">
    <div class="header-default">
        <div class="container">
            <div class="row no-margin">
                <div class="col-md-3 col-sm-3 col-xs-12 no-padding">
                    <div class="logo">
                        <img src="{% static "frontend/images/logo.jpg" %}" alt="Lao Premier League" />
                    </div>
                </div>
                {% header_club_list as header_club_list %}

                <div class="col-md-9 col-sm-9 col-xs-12 no-padding">
                    <div class="row topbar no-margin">
                        <div class="col-md-8 col-sm-7 col-xs-12">
                            <div class="block club-team">
                                <div class="block-title"> Clubs: </div>
                                <div class="block-content">
                                    <div class="block-carousel">
                                        {% for header_club in header_club_list %}
                                            <div class="carousel-item">
                                                <a href="{% url 'frontend:clubs_detail' header_club.slug %}">
                                                    {% thumbnail header_club.image "42x40" crop="center" as im %}
                                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ header_club.name }}">
                                                    {% endthumbnail %}
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-5 col-xs-12">
                            <div class="block block-search">
                                <form class="form-inline mt-2 mt-md-0">
                                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                                    <button type="submit"> <i class="fa fa-search"> </i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% load_menu_items as menu_items %}
                    <div class="row megamenu no-margin">
                        <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                            <ul class="nav nav-pills nav-links">
                                {% for key, val in menu_items.items %}
                                    <li><a href="{% url "frontend:"|add:key %}" class="{% if page == key %}active{% endif %}">{{ val }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<header class="visible-sm visible-xs">
    <div class="header-default">
        <div class="container">
            <div class="row no-margin">
                <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
                    <button type="button" class="prev"><i class="fa fa-bars"></i></button>
                    <div class="logo"> <img src="{% static "frontend/images/logo.jpg" %}" class="img-responive" alt="Lao Premier League" /></div>
                </div>
            </div>
        </div>
    </div>
</header>
