{% load staticfiles i18n thumbnail core_helper %}
<div class="col-md-3 col-sm-12 col-xs-12 sidebar">
    <!-- 1. start block table list right column  -->
    <div class="block block-table-list style-v2">
        <div class="block-title">League Table</div>
        <div class="block-content">
            <div class="block-assists">
                <ul>

                    <li>
                        <div class="assist03">
                            <span class="pos"><strong>Pos</strong></span>
                            <span class="club"><strong>Club </strong></span>
                            <span class="mp"><strong> MP </strong></span>
                            <span class="gp"> <strong>GP</strong></span>
                            <span class="pts"><strong>Pts </strong></span>
                        </div>
                    </li>

                    {% for right_league_item in league_table %}
                        <li>
                            <div class="assist03">
                                <span class="pos">{{ forloop.counter }}</span>
                                <span class="club">

                                    {% thumbnail right_league_item.image "42x40" crop="center" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ right_league_item.name }}">
                                    {% endthumbnail %}

                                    {{ right_league_item.name }}
                                </span>

                                <span class="mp">{{ right_league_item.mp }}</span>
                                <span class="gp">{{ right_league_item.gp }}</span>
                                <span class="pts"><strong> +{{ right_league_item.num_pts|number_if_none }} </strong></span>
                            </div>
                        </li>
                    {% endfor %}

                    <li class="custom-button">
                        <a href="{% url 'frontend:tables' %}" class="view-full"> View All Tables</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--2. start block table list right column  -->
    <div class="block block-table-list">
        <div class="block-title">Top Scorers</div>
        <div class="block-content">
            <div class="block-assists">
                <ul>

                    {% for right_top_score_item in top_score %}

                    {% if forloop.first %}

                        <li class="first-line">
                            <div class="assist01">
                                <div class="content">
                                    <span class="number"> {{ forloop.counter }} </span>
                                    <span class="name">{{ right_top_score_item.name }}</span>
                                    <span>
                                        {% thumbnail right_top_score_item.image "42x40" crop="center" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ right_top_score_item.name }}">
                                        {% endthumbnail %}

                                        {{ right_top_score_item.name }}
                                    </span>
                                    <span> Goals / Penalty Goals</span>
                                    <span class="number"> {{ right_top_score_item.num_score }} / {{ right_top_score_item.num_score_penalty }} </span>
                                </div>
                                <div class="image">
                                    {% thumbnail right_top_score_item.club.image "115x125" crop="center" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ right_top_score_item.club.name }}">
                                    {% endthumbnail %}
                                </div>
                            </div>
                        </li>
                     {% else %}

                        <li>
                            <div class="assist02">
                                <span class="number-no"> {{ forloop.counter }} </span>
                                <span class="image">
                                      {% thumbnail right_top_score_item.image "42x40" crop="center" as im %}
                                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ right_top_score_item.name }}">
                                      {% endthumbnail %}
							     </span>
                                <span class="name-club">
							            		<span class="name">{{ right_top_score_item.name }}</span>
							            		<span class="club">{{ right_top_score_item.club.name }}</span>
							            	</span>
                                <span class="number"> {{ right_top_score_item.num_score }}({{ right_top_score_item.num_score_penalty }}) </span>
                            </div>
                        </li>
                    {% endif %}

                    {% endfor %}


                    <li class="custom-button">
                        <a href="{% url 'frontend:tables' %}" class="view-full"> View All Top Scorers </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% if clean_sheet %}
    <!-- 3. start block table list right column  -->
    <div class="block block-table-list">
        <div class="block-title">CLean Sheets</div>
        <div class="block-content">
            <div class="block-assists">
                <ul>
                    {% for right_clean_sheet_item in clean_sheet %}

                        {% if forloop.first %}
                            <li class="first-line">
                                <div class="assist01">
                                    <div class="content">
                                        <span class="number"> {{ forloop.counter }} </span>
                                        <span class="name">{{ right_clean_sheet_item.name }}</span>
                                        <span>
                                             {% thumbnail right_clean_sheet_item.club.image "42x40" crop="center" as im %}
                                                 <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ right_clean_sheet_item.club.name }}">
                                             {% endthumbnail %}
                                         {{ right_clean_sheet_item.club.name }}
                                        </span>
                                        <span> CLean Sheets</span>
                                        <span class="number">  {{ right_clean_sheet_item.num_clean_sheet }} </span>
                                    </div>
                                    <div class="image">
                                        {% thumbnail right_clean_sheet_item.image "115x125" crop="center" as im %}
                                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ right_clean_sheet_item.name }}">
                                        {% endthumbnail %}
                                    </div>
                                </div>
                            </li>
                        {% else %}
                            <li>
                                <div class="assist02">
                                    <span class="number-no"> {{ forloop.counter }}</span>
                                    <span class="image">
                                      {% thumbnail right_clean_sheet_item.image "42x40" crop="center" as im %}
                                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ right_clean_sheet_item.name }}">
                                      {% endthumbnail %}
                                    </span>
                                    <span class="name-club">
                                      <span class="name">{{ right_clean_sheet_item.name }}</span>
                                      <span class="club">{{ right_clean_sheet_item.club.name }}</span>
                                    </span>
                                    <span class="number"> {{ right_clean_sheet_item.num_clean_sheet }}</span>
                                </div>
                            </li>
                        {% endif %}

                     {% endfor %}



                    <li class="custom-button">
                        <a href="{% url 'frontend:tables' %}" class="view-full"> View All Clean Sheets</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endif %}

    {% for right_banner_index_item in banner_index %}

        <!-- 5. start block Banner right column  -->
        <div class="block block-banner">
            <a target="_blank" href="{{ right_banner_index_item.link }}">
                <img src="{{ right_banner_index_item.image.url }}" alt="" class="">
            </a>
        </div>

    {% endfor %}

</div>