{% load static i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Lao Premier League">
    <meta name="keywords" content="Lao Premier League">
    <meta name="author" content="Lao Premier League">
    <title>Lao Premier League - Homepage</title>
    <link rel="stylesheet" type="text/css" href="{% static "frontend/css/bootstrap.css" %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static "frontend/css/style.css" %}" media="all">
    <link rel="stylesheet" type="text/css" href="{% static "frontend/css/font-awesome.min.css" %}" media="all">
    <link href='//fonts.googleapis.com/css?family=Poppins:300,400,600,400i,700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
	<script src="{% static "frontend/css/respond.min.js" %}"></script>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>
<!-- start header -->
{% include 'frontend/partials/header.html' %}
<!-- End of header -->


<!-- Start content homepage -->
{% block content %}

{% endblock %}

<!-- start html footer -->
{% include 'frontend/partials/footer.html' %}
<script src="{% static "frontend/js/jquery.min.js" %}"></script>
<script src="{% static "frontend/js/myscript.js" %}"></script>
<script src="{% static "frontend/js/bootstrap.min.js" %}"> </script>

<!-- vendors -->
<script src="{% static "frontend/js/vendors/highlight.js" %}"></script>
<script src="{% static "frontend/js/app.js" %}"></script>

{% block frontend_script %}

{% endblock %}
</body>
</html>
