{% load static i18n %}
<!-- start html footer -->
<section class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <div class="logo-footer">
                        <img src="{% static "frontend/images/club01.png" %}" alt="Lao Premier League" />
                    </div>
                </div>

                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="block brand-list">
                        <div class="block-title">Official <strong>Sponsors</strong> </div>
                        <div class="block-content">
                            <!-- Start brands images carousel -->
                            <div class="owl-carousel owl-theme" id="brands-carousel">
                                <div class="item">
                                    <img class="brands-image" src="{% static "frontend/images/brand01.jpg" %}" alt="">
                                </div>

                                <div class="item">
                                    <img class="brands-image" src="{% static "frontend/images/brand01.jpg" %}" alt="">
                                </div>

                                <div class="item">
                                    <img class="brands-image" src="{% static "frontend/images/brand01.jpg" %}" alt="">
                                </div>

                                <div class="item">
                                    <img class="brands-image" src="{% static "frontend/images/brand01.jpg" %}" alt="">
                                </div>

                                <div class="item">
                                    <img class="brands-image" src="{% static "frontend/images/brand01.jpg" %}" alt="">
                                </div>

                                <div class="item">
                                    <img class="brands-image" src="{% static "frontend/images/brand01.jpg" %}" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-center">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="block block-aboutus">
                        <div class="block-title"> Lao Premier League</div>
                        <div class="block-content">
                            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
                            <p> <a href="#"> More detail </a> </p>
                        </div>
                    </div>
                    <div class="block block-social">
                        <div class="block-content">
                            <p> Lao Premier League on Social </p>
                            <ul class="social">
                                <li> <a href="#"> <i class="fa fa-facebook"> </i> </a> </li>
                                <li> <a href="#"> <i class="fa fa-google"> </i></a></li>
                                <li> <a href="#"> <i class="fa fa-youtube"> </i> </a> </li>
                                <li> <a href="#"> <i class="fa fa-facebook"> </i> </a></li>
                                <li> <a href="#"> <i class="fa fa-facebook"> </i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="block block-link">
                        <div class="block-title"> League</div>
                        <div class="block-content">
                            <ul class="list-unstyled">
                                <li> <a href="#"> Home </a> </li>
                                <li> <a href="#"> Fixtures </a> </li>
                                <li> <a href="#"> Result </a> </li>
                                <li> <a href="#"> Tables </a> </li>
                                <li> <a href="#"> Clubs </a> </li>
                                <li> <a href="#"> Players </a> </li>
                                <li> <a href="#"> Managers</a> </li>
                                <li> <a href="#"> News </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="block block-link">
                        <div class="block-title"> Stats</div>
                        <div class="block-content">
                            <ul class="list-unstyled">
                                <li> <a href="#"> Dashboard  </a> </li>
                                <li> <a href="#"> Player Stats</a> </li>
                                <li> <a href="#"> Club Stats  </a> </li>
                                <li> <a href="#"> All-time Stats </a> </li>
                                <li> <a href="#"> Head-to-Head  </a> </li>
                                <li> <a href="#"> Awards </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="block block-link">
                        <div class="block-title"> Communities</div>
                        <div class="block-content">
                            <ul class="list-unstyled">
                                <li> <a href="#"> Latest</a> </li>
                                <li> <a href="#"> Programmes</a> </li>
                                <li> <a href="#"> PL Kicks Heroes</a> </li>
                                <li> <a href="#"> Strategy </a> </li>
                                <li> <a href="#"> Lao Premier League Primary Stars </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="copyright">
                © Copyright by <a href="#">Lao Premier League </a> All rights reserved.
            </div>
        </div>
    </div>
</section>