{% extends 'frontend/base.html' %}
{% load staticfiles i18n thumbnail core_helper %}

{% block content %}
    <!-- Start content homepage -->
    <section class="wrapper">
        <div class="row-matchweek">
            <div class="container">
                <div class="block block-matchweek">
                    <div class="block-title"><span>Matchweek 7 </span></div>
                    <div class="block-content">
                        <!-- Start matchweek-carousel -->
                        <div class="owl-carousel owl-theme" id="matchweek-carousel">
                            <div class="item">
                                <div class="matchweek-item">
                                    <div class="matchweek-content">
                                        <span class="time">Saturday 24 February </span>
                                        <span class="match-detail">
                                             <span class="team">
                                                 <img src="{% static "frontend/images/club01.png" %}" alt="club01"/>
                                                 <span class="team-name"> ARS </span>
                                           </span>
                                           <span class="result-match"> 0 - 3 </span>
                                           <span class="team">
                                                 <img src="{% static "frontend/images/club02.png" %}" alt="club01"/>
                                                 <span class="team-name"> MCI </span>
                                           </span>
                                     </span>
                                    </div>
                                    <div class="matchweek-link">
                                        <a href="#"> Start </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Main content homepage -->
        <div class="main-content-homepage">
            <div class="container">
                <div class="row">
                    <!-- start left column -->
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <!-- 1. start block news -->
                        <div class="block block-news">
                            <div class="block-content">
                                <!-- Start news-carousel carousel -->
                                <div class="owl-carousel owl-theme" id="news-carousel">
                                    {% for post in block_1_posts %}
                                    <div class="item">
                                        <div class="news-item style-v1">
                                            <div class="images">
                                                {% thumbnail post.image "573x383" crop="center" as im %}
                                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ post.name }}">
                                                {% endthumbnail %}

                                            </div>
                                            <div class="new-content">
                                                <div class="time"><i class="fa fa-clock-o"> </i>{{ post.created_at }}</div>
                                                <div class="news-name">{{ post.name }}</div>
                                                <div class="news-des">
                                                 {{ post.desc }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                </div>

                            </div>
                        </div>


                        {% for index_banner in index_banners %}
                            <!-- 2. start block banner  -->
                            <div class="block block-banner">
                                <a target="_blank" href="{{ index_banner.link }}"><img src="{{ index_banner.image.url }}" alt="" class=""></a>
                            </div>

                        {% endfor %}



                        <!-- 3. start block latest news  -->
                        <div class="block block-latestnew">

                            <div class="block-title">
                                <span> Latest news </span>
                                <a href="{% url 'frontend:news' %}" class="read-more"> More News <i class="fa fa-arrow-right"> </i></a>
                            </div>

                            {% with block_2_posts|first as first_block_2_post %}
                            <div class="block-content">
                                <div class="news-item style-v2">
                                    <div class="images">
                                        <img class="responsive" src="{% static "frontend/images/news-01.jpg" %}"
                                             alt="news-01"/>
                                    </div>
                                    <div class="new-content">

                                        <div class="news-name">{{ first_block_2_post.name }}</div>

                                        <div class="time"><i class="fa fa-clock-o"> </i>{{ first_block_2_post.created_at }}</div>

                                        <div class="news-des">
                                           {{ first_block_2_post.desc }}
                                        </div>

                                        <div class="related-new">
                                            <ul>
                                                {% for related_obj in first_block_2_post.tags.similar_objects|slice:"0:3"  %}
                                                <li>
                                                    <a href="{% url 'frontend:news_detail' related_obj.slug %}">{{ related_obj.name }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endwith %}
                        </div>

                        <!-- 4. start Block news 02  -->
                        <div class="block block-news">
                            <!-- Start news-carousel carousel -->
                            <div class="owl-carousel owl-theme" id="news02-carousel">

                                {% for block_2_post in block_2_posts %}
                                    {% if forloop.counter > 0 %}
                                        <div class="item">
                                            <div class="news-item style-v3">
                                                <div class="images">
                                                    {% thumbnail post.image "391x261" crop="center" as im %}
                                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ block_2_post.name }}">
                                                    {% endthumbnail %}
                                                </div>
                                                <div class="new-content">
                                                    <div class="news-name">{{ block_2_post.name }}</div>
                                                    <div class="news-des">
                                                       {{ block_2_post.desc }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>


                        </div>

                        <!--5. start block media gallery -->
                        <div class="block-media-gallery">
                            <div class="block-title">
                                <span> Media Gallery </span>
                                <a href="#" class="read-more"> More Gallery <i class="fa fa-arrow-right"> </i></a>

                            </div>
                            <div class="block-content">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="news-item style-v4">
                                            <div class="images">
                                                <img src="{% static "frontend/images/news-05.jpg" %}" alt="news-05"/>
                                                <div class="icon-play"></div>
                                            </div>
                                            <div class="new-content">
                                                <div class="news-name"> Kane matches Drogba's derby goal haul</div>
                                                <div class="time"><i class="fa fa-clock-o"> </i> 26 Feb 2018</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-12 col-xs-12">

                                        <!-- Start news-carousel carousel -->
                                        <div class="owl-carousel owl-theme" id="news03-carousel">
                                            <div class="item">
                                                <div class="news-item style-v3">
                                                    <div class="images">
                                                        <img src="{% static "frontend/images/news-02.jpg" %}"
                                                             alt="news-02"/>
                                                    </div>
                                                    <div class="new-content">
                                                        <div class="news-name"> On this day - 26 Feb 2000: Wimbledon 2-2
                                                            Man Utd
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="item">
                                                <div class="news-item style-v3">
                                                    <div class="images">
                                                        <img src="{% static "frontend/images/news-03.jpg" %}"
                                                             alt="news-03"/>
                                                    </div>
                                                    <div class="new-content">
                                                        <div class="news-name"> On this day - 26 Feb 2000: Wimbledon 2-2
                                                            Man Utd
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="item">
                                                <div class="news-item style-v3">
                                                    <div class="images">
                                                        <img src="{% static "frontend/images/news-03.jpg" %}"
                                                             alt="news-03"/>
                                                    </div>
                                                    <div class="new-content">
                                                        <div class="news-name"> On this day - 26 Feb 2000: Wimbledon 2-2
                                                            Man Utd
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 6. start block Statistic -->
                        <div class="block block-statistic">
                            <div class="block-title">
                                <span> Statistic </span>
                                <a href="#" class="read-more"> More Social <i class="fa fa-arrow-right"> </i></a>
                            </div>
                            <div class="block-content">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12 col-xs-12 no-padding-left">
                                        <div class="block block-table-list">
                                            <div class="block-title">Top Assists</div>
                                            <div class="block-content">
                                                <div class="block-assists">
                                                    <ul>
                                                        <li class="first-line">
                                                            <div class="assist01">
                                                                <div class="content">
                                                                    <span class="number"> 1 </span>
                                                                    <span class="name"> Henrikh Mkhitaryan </span>
                                                                    <span><img
                                                                            src="{% static "frontend/images/club01.png" %}"
                                                                            alt="club01"/> Arsenal </span>
                                                                    <span> Assists</span>
                                                                    <span class="number"> 5 </span>
                                                                </div>
                                                                <div class="image"><img
                                                                        src="{% static "frontend/images/assist02.png" %}"
                                                                        alt="club01"/></div>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="assist02">
                                                                <span class="number-no"> 2 </span>
                                                                <span class="image">
							            		<img class="image-radius image-40"
                                                     src="{% static "frontend/images/assist03.png" %}" alt="club01"/>
							            	</span>
                                                                <span class="name-club">
							            		<span class="name">Keven De Bruyne </span>
							            		<span class="club">Manchester City </span>
							            	</span>
                                                                <span class="number"> 4 </span>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="assist02">
                                                                <span class="number-no"> 3 </span>
                                                                <span class="image">
							            		<img class="image-radius image-40"
                                                     src="{% static "frontend/images/assist03.png" %}" alt="club01"/>
							            	</span>
                                                                <span class="name-club">
							            		<span class="name">Keven De Bruyne </span>
							            		<span class="club">Manchester City </span>
							            	</span>
                                                                <span class="number"> 4 </span>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="assist02">
                                                                <span class="number-no"> 4 </span>
                                                                <span class="image">
							            		<img class="image-radius image-40"
                                                     src="{% static "frontend/images/assist03.png" %}" alt="club01"/>
							            	</span>
                                                                <span class="name-club">
							            		<span class="name">Keven De Bruyne </span>
							            		<span class="club">Manchester City </span>
							            	</span>
                                                                <span class="number"> 4 </span>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="assist02">
                                                                <span class="number-no"> 5 </span>
                                                                <span class="image">
							            		<img class="image-radius image-40"
                                                     src="{% static "frontend/images/assist03.png" %}" alt="club01"/>
							            	</span>
                                                                <span class="name-club">
							            		<span class="name">Keven De Bruyne </span>
							            		<span class="club">Manchester City </span>
							            	</span>
                                                                <span class="number"> 4 </span>
                                                            </div>
                                                        </li>

                                                        <li class="custom-button">
                                                            <a href="#" class="view-full"> View Full list </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="block block-table-list">
                                            <div class="block-title">Average Possession</div>
                                            <div class="block-content">
                                                <div class="block-assists">
                                                    <ul>
                                                        <li class="first-line">
                                                            <div class="assist01">
                                                                <div class="content">
                                                                    <span class="number"> 1 </span>
                                                                    <span class="name"> Manchester City</span>
                                                                    <span> Average Possession</span>
                                                                    <span class="number"> 80% </span>
                                                                </div>
                                                                <div class="image"><img
                                                                        src="{% static "frontend/images/assist04.png" %}"
                                                                        alt="club01"/></div>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="assist02">
                                                                <span class="number-no"> 2 </span>
                                                                <span class="image">
                                                <img class="image-radius image-40"
                                                     src="{% static "frontend/images/club01.png" %}" alt="club01"/>
                                            </span>
                                                                <span class="name-club">
                                                <span class="name">Arsenal</span>
                                            </span>
                                                                <span class="number"> 70% </span>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="assist02">
                                                                <span class="number-no"> 3 </span>
                                                                <span class="image">
                                                <img class="image-radius image-40"
                                                     src="{% static "frontend/images/club01.png" %}" alt="club01"/>
                                            </span>
                                                                <span class="name-club">
                                                <span class="name">Arsenal</span>
                                            </span>
                                                                <span class="number"> 70% </span>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="assist02">
                                                                <span class="number-no"> 4 </span>
                                                                <span class="image">
                                                <img class="image-radius image-40"
                                                     src="{% static "frontend/images/club01.png" %}" alt="club01"/>
                                            </span>
                                                                <span class="name-club">
                                                <span class="name">Arsenal</span>
                                            </span>
                                                                <span class="number"> 70% </span>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="assist02">
                                                                <span class="number-no"> 5 </span>
                                                                <span class="image">
                                                <img class="image-radius image-40"
                                                     src="{% static "frontend/images/club01.png" %}" alt="club01"/>
                                            </span>
                                                                <span class="name-club">
                                                <span class="name">Arsenal</span>
                                            </span>
                                                                <span class="number"> 70% </span>
                                                            </div>
                                                        </li>

                                                        <li class="custom-button">
                                                            <a href="#" class="view-full"> View Full list </a>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-12 col-xs-12 no-padding-right">
                                        <div class="block block-table-list">
                                            <div class="block-title">CLean Sheets</div>
                                            <div class="block-content">
                                                <div class="block-assists">
                                                    <ul>
                                                        <li class="first-line">
                                                            <div class="assist01">
                                                                <div class="content">
                                                                    <span class="number"> 1 </span>
                                                                    <span class="name"> Manchester City</span>
                                                                    <span> Clean Sheets</span>
                                                                    <span class="number"> 5 </span>
                                                                </div>
                                                                <div class="image"><img
                                                                        src="{% static "frontend/images/assist04.png" %}"
                                                                        alt="club01"/></div>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="assist02">
                                                                <span class="number-no"> 2 </span>
                                                                <span class="image">
                                                <img class="image-radius image-40"
                                                     src="{% static "frontend/images/club01.png" %}" alt="club01"/>
                                            </span>
                                                                <span class="name-club">
                                                <span class="name">Arsenal</span>
                                            </span>
                                                                <span class="number"> 4 </span>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="assist02">
                                                                <span class="number-no"> 3 </span>
                                                                <span class="image">
                                                <img class="image-radius image-40"
                                                     src="{% static "frontend/images/club01.png" %}" alt="club01"/>
                                            </span>
                                                                <span class="name-club">
                                                <span class="name">Arsenal</span>
                                            </span>
                                                                <span class="number">3 </span>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="assist02">
                                                                <span class="number-no"> 4 </span>
                                                                <span class="image">
                                                <img class="image-radius image-40"
                                                     src="{% static "frontend/images/club01.png" %}" alt="club01"/>
                                            </span>
                                                                <span class="name-club">
                                                <span class="name">Arsenal</span>
                                            </span>
                                                                <span class="number"> 2 </span>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="assist02">
                                                                <span class="number-no"> 5 </span>
                                                                <span class="image">
                                                <img class="image-radius image-40"
                                                     src="{% static "frontend/images/club01.png" %}" alt="club01"/>
                                            </span>
                                                                <span class="name-club">
                                                <span class="name">Arsenal</span>
                                            </span>
                                                                <span class="number"> 2 </span>
                                                            </div>
                                                        </li>

                                                        <li class="custom-button">
                                                            <a href="#" class="view-full"> View Full list </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 7. start block Banner  -->
                        <div class="block block-banner">
                            <img src="{% static "frontend/images/banner01.jpg" %}" alt="Banner 01"/>
                        </div>

                        <!-- 9. start block Lao Premier League on Social  -->
                        <div class="block block-lao-social">
                            <div class="block-title">
                                <span> Lao Premier League on Social </span>
                                <a href="#" class="read-more"> More Social <i class="fa fa-arrow-right"> </i></a>
                            </div>
                            <div class="block-content">
                                <ul class="social">
                                    <li><a href="#" class="facebook"> <i class="fa fa-facebook"> </i> </a></li>
                                    <li><a href="#" class="twister"> <i class="fa fa-google"> </i></a></li>
                                    <li><a href="#" class="youtube"> <i class="fa fa-youtube"> </i> </a></li>
                                    <li><a href="#"> <i class="fa fa-facebook"> </i> </a></li>
                                    <li><a href="#"> <i class="fa fa-facebook"> </i> </a></li>
                                </ul>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="news-item style-v3">
                                            <div class="images">
                                                <img src="{% static "frontend/images/news-02.jpg" %}" alt="news-02"/>
                                                <div class="share-social">
                                                    <ul>
                                                        <li><i class="fa fa-facebook"> </i>
                                                    </ul>
                                                    <div> 7h ago</div>
                                                </div>
                                            </div>
                                            <div class="new-content">
                                                <div class="news-des">
                                                    TEAM NEWS Kolasinac, Ramsey and Welbeck come in for Arsenal; while
                                                    Sane returns for Man City, who make 4 changes f…
                                                    https://t.co/98pWtw7ADx
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="news-item style-v3">
                                            <div class="images">
                                                <img src="{% static "frontend/images/news-02.jpg" %}" alt="news-02"/>
                                                <div class="share-social">
                                                    <ul>
                                                        <li><i class="fa fa-facebook"> </i>
                                                    </ul>
                                                    <div> 7h ago</div>
                                                </div>
                                            </div>
                                            <div class="new-content">
                                                <div class="news-des">
                                                    TEAM NEWS Kolasinac, Ramsey and Welbeck come in for Arsenal; while
                                                    Sane returns for Man City, who make 4 changes f…
                                                    https://t.co/98pWtw7ADx
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="news-item style-v3">
                                            <div class="images">
                                                <img src="{% static "frontend/images/news-02.jpg" %}" alt="news-02"/>
                                                <div class="share-social">
                                                    <ul>
                                                        <li><i class="fa fa-facebook"> </i>
                                                    </ul>
                                                    <div> 7h ago</div>
                                                </div>
                                            </div>
                                            <div class="new-content">
                                                <div class="news-des">
                                                    TEAM NEWS Kolasinac, Ramsey and Welbeck come in for Arsenal; while
                                                    Sane returns for Man City, who make 4 changes f…
                                                    https://t.co/98pWtw7ADx
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="news-item style-v3">
                                            <div class="images">
                                                <img src="{% static "frontend/images/news-02.jpg" %}" alt="news-02"/>
                                                <div class="share-social">
                                                    <ul>
                                                        <li><i class="fa fa-facebook"> </i>
                                                    </ul>
                                                    <div> 7h ago</div>
                                                </div>
                                            </div>
                                            <div class="new-content">
                                                <div class="news-des">
                                                    TEAM NEWS Kolasinac, Ramsey and Welbeck come in for Arsenal; while
                                                    Sane returns for Man City, who make 4 changes f…
                                                    https://t.co/98pWtw7ADx
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="news-item style-v3">
                                            <div class="images">
                                                <img src="{% static "frontend/images/news-02.jpg" %}" alt="news-02"/>
                                                <div class="share-social">
                                                    <ul>
                                                        <li><i class="fa fa-facebook"> </i>
                                                    </ul>
                                                    <div> 7h ago</div>
                                                </div>
                                            </div>
                                            <div class="new-content">
                                                <div class="news-des">
                                                    TEAM NEWS Kolasinac, Ramsey and Welbeck come in for Arsenal; while
                                                    Sane returns for Man City, who make 4 changes f…
                                                    https://t.co/98pWtw7ADx
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="news-item style-v3">
                                            <div class="images">
                                                <img src="{% static "frontend/images/news-02.jpg" %}" alt="news-02"/>
                                                <div class="share-social">
                                                    <ul>
                                                        <li><i class="fa fa-facebook"> </i>
                                                    </ul>
                                                    <div> 7h ago</div>
                                                </div>
                                            </div>
                                            <div class="new-content">
                                                <div class="news-des">
                                                    TEAM NEWS Kolasinac, Ramsey and Welbeck come in for Arsenal; while
                                                    Sane returns for Man City, who make 4 changes f…
                                                    https://t.co/98pWtw7ADx
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>


                        <!-- 9. start block Lao Premier League on Social  -->
                        <div class="block block-matchweek">
                            <div class="block-title"><span>Stats</span></div>
                            <div class="block-content">

                                <!-- Start matchweek-carousel -->
                                <div class="owl-carousel owl-theme" id="matchweek-carousel02">
                                    <div class="item">
                                        <div class="matchweek-item">
                                            <div class="matchweek-content">
                                                <span class="time">Saturday 24 February </span>
                                                <span class="match-detail">
                              <span class="team">
                                  <img src="{% static "frontend/images/club01.png" %}" alt="club01"/>
                                  <span class="team-name"> ARS </span>
                            </span>
                            <span class="result-match"> 0 - 3 </span>
                            <span class="team">
                                  <img src="{% static "frontend/images/club02.png" %}" alt="club01"/>
                                  <span class="team-name"> MCI </span>
                            </span>
                      </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="matchweek-item">
                                            <div class="matchweek-content">
                                                <span class="time">Saturday 24 February </span>
                                                <span class="match-detail">
                              <span class="team">
                                  <img src="{% static "frontend/images/club01.png" %}" alt="club01"/>
                                  <span class="team-name"> ARS </span>
                            </span>
                            <span class="result-match"> 0 - 3 </span>
                            <span class="team">
                                  <img src="{% static "frontend/images/club02.png" %}" alt="club01"/>
                                  <span class="team-name"> MCI </span>
                            </span>
                      </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="matchweek-item">
                                            <div class="matchweek-content">
                                                <span class="time">Saturday 24 February </span>
                                                <span class="match-detail">
                              <span class="team">
                                  <img src="{% static "frontend/images/club01.png" %}" alt="club01"/>
                                  <span class="team-name"> ARS </span>
                            </span>
                            <span class="result-match"> 0 - 3 </span>
                            <span class="team">
                                  <img src="{% static "frontend/images/club02.png" %}" alt="club01"/>
                                  <span class="team-name"> MCI </span>
                            </span>
                      </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="item">
                                        <div class="matchweek-item">
                                            <div class="matchweek-content">
                                                <span class="time">Saturday 24 February </span>
                                                <span class="match-detail">
                              <span class="team">
                                  <img src="{% static "frontend/images/club01.png" %}" alt="club01"/>
                                  <span class="team-name"> ARS </span>
                            </span>
                            <span class="result-match"> 0 - 3 </span>
                            <span class="team">
                                  <img src="{% static "frontend/images/club02.png" %}" alt="club01"/>
                                  <span class="team-name"> MCI </span>
                            </span>
                      </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="matchweek-item">
                                            <div class="matchweek-content">
                                                <span class="time">Saturday 24 February </span>
                                                <span class="match-detail">
                              <span class="team">
                                  <img src="{% static "frontend/images/club01.png" %}" alt="club01"/>
                                  <span class="team-name"> ARS </span>
                            </span>
                            <span class="result-match"> 0 - 3 </span>
                            <span class="team">
                                  <img src="{% static "frontend/images/club02.png" %}" alt="club01"/>
                                  <span class="team-name"> MCI </span>
                            </span>
                      </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>

                    </div>

                    <!-- start right column -->

                    {% include "frontend/partials/right_index.html" %}

                </div>
            </div>
        </div>
    </section>
{% endblock %}